* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    background-color: #F1F5F8;
}

body {
    display: grid;
    place-items: center;

    .about {
        width: 560px; 
        margin-top: 4rem;

        .btn-container {
            width: 100%; 
            display: grid;
            justify-content: space-around; 
            background-color: #DAE2EC; 
            grid-template-columns: repeat(3, 1fr); 

            .tab-btn {
                height: 4.5rem; 
                background-color: #DAE2EC; 
                border: none; 
                letter-spacing: 0.3rem;
                font-size: 1.5rem;

                &:hover {
                    background-color: white;
                }
            }
        }
    }
}
